.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: blue !important;
}

.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid white;
}

.nav-active {
  border-bottom: 0.1rem solid black;
}

.nav-item {
  text-align: center;
}

ul>li {
  text-align: center;
}
