.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: var(--mainBlue) !important;
}

.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}

.nav-active {
  border-bottom: 0.1rem solid var(--mainBlue);
}
