<footer class="bg-dark px-5 mx-auto">
  <div class="container-fluid">
    <div class="row text-light py-4">
      <div class="col-lg-4 col-sm-6">
        <h5 class="pb-3">About</h5>
        <p class="small">
          We are a team who are passionate about making things better around
          us for all of us. Every change should start with self,house before
          working towards bigger picture same with the country, it should
          start with our villages which are the backbone of our existence.
          It could be schools, libraries, electric/water facilities,
          transportation needs, community centers or anything that benefits
          the village and brings them together. we are starting with schools
          and hopefully will get to other sectors as well depending upon the
          availability of resources.
        </p>
        <a href="https://www.facebook.com/ourvillageourresponsibility/" class="mr-2"><i
            class="fa fa-facebook-f"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-4 col-sm-6 d-flex justify-content-center">
        <div>
          <h5 class="pb-3">Visit</h5>
          <ul class="list-unstyled">
            <li>
              <a href="" class="footer-link">Home</a>
            </li>
            <li>
              <a href="" class="footer-link">About</a>
            </li>
            <li>
              <a href="" class="footer-link">School Activities</a>
            </li>
            <li>
              <a href="" class="footer-link">Village Activities</a>
            </li>
            <li>
              <a href="" class="footer-link">Smart Class</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <h5 class="pb-3">Connect With Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="fa fa-facebook pr-2"></i>
            Kavitha K Pandian
          </li>
          <li>
            <i class="fa fa-envelope-square pr-2"></i>
            <a class="text-info">info@ourvillageourresponsibility.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
