<app-header></app-header>
<section class="about p-5 w-75 mx-auto rounded">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 pb-4 text-center">
        <h3 class="display-4 mb-5 text-white">About</h3>
        <div class="text-white text-left">
          <p class="lead">
            We are a team who are passionate about making things better around us for all of us. Every
            change should start with self,house before working towards bigger picture same with the
            country, it should start with our villages which are the backbone of our existence. It could
            be schools, libraries, electric/water facilities, transportation needs, community centers or
            anything that benefits the village and brings them together. we are starting with schools
            and hopefully will get to other sectors as well depending upon the availability of
            resources.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5 mission w-75 mt-1 mx-auto">
  <div class="container-fluid">
    <div class="row text-white text-center">
      <div class="col-lg-6">
        <h1 class="mb-4">Our Mission</h1>
        <div class="underline mb-4"></div>
        <p class="">
          To make every village equipped with basic necesscities and establish a communication channel
          with outside world so that every person can have accessibility to all resources and information
          that will help them to make a better living for their families. To engage villagers through
          workshops and awareness camps by intercting in person or thrrough telecommunications.
        </p>
      </div>
      <div class="col-lg-6">
        <h1 class="mb-4">Our Vision</h1>
        <div class="underline mb-4"></div>
        <p class="">
          To make every village equipped with basic necesscities and establish a communication channel
          with outside world so that every person can have accessibility to all resources and information
          that will help them to make a better living for their families. To engage villagers through
          workshops and awareness camps by intercting in person or thrrough telecommunications.
        </p>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
