<app-header></app-header>
<section class="mx-auto bg-main">

  <div class="container-fluid">
    <app-page-description [title]=pageTitle [description]=pageDescription></app-page-description>
    <div class="row bg-second" *ngFor="let data of villageActivitiesData">
      <div class="col-lg-4 col-sm-10 mx-auto m-4">
        <div class=" card">
          <img [src]="data.url" class="card-img-top" />
          <div class="card-body">
            <div class="card-title">
              <h4 class="sub-heading">{{data.title}}</h4>
            </div>
            <div class="card-subtitle">
              <p class="lead">{{data.subTitle}}</p>
            </div>
            <div class="row">
              <div class="col-6">
                <a class="btn btn-primary" [routerLink]="['/detailActivity','va',data.id]">
                  More Info
                </a>
              </div>
              <div class="col-6 text-right">
                <a href="#">
                  <i class="fa fa-facebook fa-2x mx-2 text-primary"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube fa-2x mx-2 text-danger"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
