<app-header></app-header>
<section class="w-75 mx-auto p-sm-5 p-2 bg-secondary">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mb-3">
        <h2>School Activities</h2>
        <p class="lead text-light">
          this is school activties generic description.asdfasdf a sdfadfa
          lkasjdfa as;ldkfjaldksjfaldkfja ldkf asdkfjadk dfasld ads
        </p>
      </div>
    </div>

    <tabset>
      <tab heading="Completed" id="tab1">
        <app-completed></app-completed>
      </tab>
      <tab heading="Need Sponsors">
        <app-upcoming></app-upcoming>
      </tab>
    </tabset>

  </div>
</section>
<app-footer></app-footer>
