<app-header></app-header>
<section class="mx-auto  bg-main ">
  <div class="container-fluid">
    <app-page-description [title]=pageTitle [description]=pageDescription></app-page-description>

    <div class="row bg-fifth ml-3 mr-3 mb-3 p-3 rounded shadow" *ngFor="let data of newsData ">
      <div class="col-lg-6">
        <p class="mt-3  normal-sub-heading-2">{{data.title}}</p>
        <div>
          <p>
            {{data.description}}
          </p>
          <a [routerLink]="['/detailActivity','ns',data.id]">
            <h5 class="text-info">Click for more info...</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">

        <div class="newImgContainer">
          <a [routerLink]="['/detailActivity','ns',data.id]"><img [src]="data.url" class="Image" /> </a>
        </div>
      </div>
    </div>


  </div>
</section>
<app-footer></app-footer>
