<app-header></app-header>
<section class="w-75 mx-auto bg-secondary main-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center ">
        <h2 class="mt-3">NEWS</h2>
        <p class="lead text-light">
          this is school activties.asdfasdf a sdfadfa lkasjdfa as;ldkfjaldksjfaldkfja ldkf asdkfjadk
          dfasld ads
        </p>
      </div>
    </div>

    <div class="row bg-light m-5 rounded">
      <div class="col-lg-6">
        <h2 class="mt-3 mb-3">Two Canal Desiltation</h2>
        <div>
          <p>aslkdjfa dakjdf adkfjadsja sdlfajdfa dkjad kadlksfjasdkfjadfa
            dfjkadfkj adkjfaldkjaldkjadk
            Qpg6aAZGJwF alskjd asdfldsfjalsdkf asdlkfja alsdakjdfa as dfadfslakjdfa dfadlfakjdfa dfdzl
          </p>
          <h5 class="text-info">Click for more info...</h5>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">

        <div class="newImgContainer">
          <img src="assets/img/news/desiltation.jpg" class="Image" />
        </div>
      </div>
    </div>

    <div class="row bg-light m-5 rounded">
      <div class="col-lg-6">
        <h2 class="mt-3 mb-3">Support for COVID-19 affect Families</h2>
        <div>
          <p>aslkdjfa dakjdf adkfjadsja sdlfajdfa dkjad kadlksfjasdkfjadfa
            dfjkadfkj adkjfaldkjaldkjadk
            Qpg6aAZGJwF alskjd asdfldsfjalsdkf asdlkfja alsdakjdfa as dfadfslakjdfa dfadlfakjdfa dfdzl
          </p>
          <h5 class="text-info">Click for more info...</h5>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">

        <div class=" newImgContainer">
          <img src="assets/img/news/covid.jpg" class="Image" />
        </div>



      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
