<app-header></app-header>

<section class="mx-auto bg-main">

  <div class="container-fluid">
    <app-page-description [title]=pageTitle [description]=pageDescription></app-page-description>

    <div class="row">
      <div class="col">
        <ng-image-slider [images]="imageObject" infinite=true animationSpeed=1 autoSlide=1 #nav></ng-image-slider>
      </div>
    </div>

    <div class="row bg-light p-3">
      <div class="col-lg-12 border border-dark">
        <div class="col mt-2">
          <form>
            <div class="form-group form-inline">
              Full text search: <input class="form-control ml-2" type="text" [formControl]="filter" />
            </div>
          </form>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name of School</th>
                <th scope="col">Village</th>
                <th scope="col">District</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let school of schools$ | async; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <ngb-highlight [result]="school.name" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="school.village" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="school.district" [term]="filter.value"></ngb-highlight>
                </td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


    <!--   total -->
    <div class="row bg-light p-3 align-items-center">
      <div class="col-lg-6 border border-dark mx-auto">
        <table class="table table-striped">
          <thead>
            <tr class="text-center">
              <th scope="col" colspan="2">Summary One</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let summary of summaryData">
              <td>

                {{ summary.name }}
              </td>
              <td>{{ summary.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</section>

<app-footer></app-footer>
