@import url("https://fonts.googleapis.com/css?family=Roboto%20Slab");

@media (max-width: 768px) {
  #about-background .background-image {
    border-right: 0px;
    border-top: 0px;
  }
}

/* GENERAL STYLES */
:root {
  --mainYellow: #fdbe02;
  --mainBlue: #080f13;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}

body {
  //color: var(--mainBlue);
  //background: var(--mainWhite);
  font-family: "Roboto Slab", cursive;
}

.text-slanted {
  font-family: "Roboto Slab", cursive;
}

.btn-blue {
  background: var(--mainBlue);
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0 !important;
}

.btn-blue:hover {
  background: var(--mainBlack);
  color: var(--mainBlue);
}
