<app-header></app-header>


<section class="w-75 mx-auto">
  <div class="container-fluid p-0 m-0">
    <ngb-carousel *ngIf="homeData">


      <ng-template ngbSlide *ngFor="let data of homeData">
        <div class="picsum-img-wrapper" class="text-center">
          <img [src]="data.url" alt="data.title" class="rounded">
        </div>
        <div class="carousel-caption">
          <h3>{{data.title}}</h3>
          <p>{{data.description}}</p>
        </div>
      </ng-template>
      <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper" class="text-center ">
          <img [src]="images[1]" alt="Random second slide" class="rounded">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" class="text-center">
          <img [src]="images[2]" alt="Random third slide" class="rounded">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template> -->
    </ngb-carousel>
  </div>
</section>
<app-footer></app-footer>
