<app-header></app-header>

<section class="w-75 mx-auto">
  <div class="container-fluid bg-secondary">
    <div class="row pt-3 pb-3">
      <div class="col text-center col-sm-8">
        <h1>{{detailData.title}} </h1>
      </div>
      <div class="col text-center col-sm-3 bg-white m-2">
        <p class="p-0 m-0">Village: {{detailData.village}}</p>
        <p class="p-0 m-0">District: {{detailData.district}}</p>
      </div>
    </div>

    <div class="card description-bg">
      <div class="card-header text-center">
        <h3>{{detailData.description}}</h3>
        <div *ngIf="detailData.detailDescription">
          <p>{{detailData.detailDescription}}</p>
        </div>
        <div class="bg-warning p-2">
          <div *ngIf="detailData.htmlContent" class="mt-2">
            <p [innerHTML]="detailData.htmlContent"></p>
          </div>
        </div>

      </div>
      <div class="card-body text-center" *ngIf="detailData.subSection">
        <h5 class="card-title">{{detailData.subSection.heading}}</h5>
        <p class="card-text" *ngFor="let keyData of detailData.subSection.keyValueData">
          <span class="font-weight: bold;">{{keyData.key}}</span> : {{keyData.value}}
        </p>
      </div>
    </div>

    <div *ngIf="detailData.compareImages">
      <div class="card mt-3" *ngFor="let compareImage of detailData.compareImages">
        <div class="card-header text-center">
          <h5>{{compareImage.title}}</h5>
        </div>
        <div class="card-body text-center">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center"></div>
              <div class="card">
                <div class="card-header text-center" style="border-bottom: 0px;">Before</div>
                <div class="card-body">
                  <div class="">

                    <div *ngFor="let imageUrl of compareImage.beforeImages">
                      <img [src]="imageUrl" class="img-in-div" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-center" style="border-bottom: 0px;">After</div>
                <div class="card-body">
                  <div class="">

                    <div *ngFor="let imageUrl of compareImage.beforeImages">
                      <img [src]="imageUrl" class="img-in-div" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3" *ngIf="detailData.commonImages">
      <div class="card-header text-center">
        <h5>{{detailData.commonImages.title}}</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-text">{{detailData.commonImages.description}}
        </p>
        <div *ngFor="let imageUrl of detailData.commonImages.otherImages" class="m-2">
          <img [src]="imageUrl" class="img-in-div text-center" />
        </div>
      </div>
    </div>


  </div>
</section>

<app-footer></app-footer>
