<app-header></app-header>

<section class="mx-auto">
  <div class="container-fluid bg-main">
    <div class="row pt-3 pb-3">
      <div class="d-flex align-items-center normal-sub-heading justify-content-center" [ngClass]="{'col': !(detailData.village || detailData.district), 'col-lg-7': (detailData.village ||
        detailData.district) }">
        <h1 class="m-0 p-0">{{detailData.title}} </h1>
      </div>
      <div class="d-flex justify-content-center col-lg-4 bg-fifth " style="border-radius: 25px;"
        *ngIf="detailData.village || detailData.district">
        <div class="p-3 ">
          <div class="row normal-sub-heading ">
            <div class="col-4 " *ngIf="detailData.village">Village:</div>
            <div class="col-6 " *ngIf="detailData.village">{{detailData.village}}</div>
            <div class="col-4 " *ngIf="detailData.district">District:</div>
            <div class="col-6 " *ngIf="detailData.district">{{detailData.district}}</div>
          </div>
        </div>
      </div>
    </div>



    <div class="card">
      <div class="card-header text-center ">
        <h4 class="sub-heading">{{detailData.subTitle}}</h4>
        <div *ngIf="detailData.description">
          <p class="font-dancing-script">{{detailData.description}}</p>
        </div>

      </div>
      <div class="card-body text-left m-3 bg-third" style="border-radius: 10px;" *ngIf="detailData.mainListSection">
        <h5 class="card-title normal-sub-heading">{{detailData.mainListSection.heading}}</h5>
        <p class="card-text" *ngFor="let keyData of detailData.mainListSection.keyValueData">
          <b>{{keyData.key}}</b> : {{keyData.value}}
        </p>
      </div>

      <div class="card-body text-left bg-fifth m-3" *ngIf="detailData.htmlContent">
        <div class="p-2">
          <div *ngIf="detailData.htmlContent" class="mt-2">
            <p [innerHTML]="detailData.htmlContent"></p>
          </div>
        </div>
      </div>

      <div class="card-body text-center m-3 bg-fourth col-lg-6 mx-auto" style="border-radius: 10px;"
        *ngIf="detailData.subSection">
        <h4 class="card-title normal-sub-heading">{{detailData.subSection.heading}}</h4>
        <p class="card-text" *ngFor="let keyData of detailData.subSection.keyValueData">
          <span> <b>{{keyData.key}} : </b></span> {{keyData.value}}
        </p>
      </div>
    </div>

    <div *ngIf="detailData.compareImages">
      <div class="card mt-3" *ngFor="let compareImage of detailData.compareImages">
        <div class="card-header text-center bg-third sub-heading" *ngIf="compareImage.title">
          <h5>{{compareImage.title}}</h5>
        </div>
        <div class="card-body text-center">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center"></div>
              <div class="card">
                <div class="card-header text-center bg-main normal-sub-heading" style="border-bottom: 0px;">Before</div>
                <div class="card-body">
                  <div class="">

                    <div *ngFor="let imageUrl of compareImage.beforeImages">
                      <img [src]="imageUrl" class="img-in-div" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-center bg-main normal-sub-heading" style="border-bottom: 0px;">After</div>
                <div class="card-body">
                  <div class="">

                    <div *ngFor="let imageUrl of compareImage.afterImages">
                      <img [src]="imageUrl" class="img-in-div" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="detailData.commonImages">
      <div class="card mt-3" *ngFor="let data of detailData.commonImages">

        <div class="card-header text-center bg-third sub-heading" *ngIf="data.title">
          <h5>{{data.title}}</h5>
        </div>
        <div class="card-body text-center bg-main normal-sub-heading">
          <p class="card-text">{{data.description}}
          </p>
          <div *ngFor="let imageUrl of data.otherImages" class="m-3">
            <img [src]="imageUrl" class="img-in-div text-center shadow-box" />
          </div>
        </div>

      </div>
    </div>


  </div>
</section>

<app-footer></app-footer>
