/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


/*
primary   - #24305E
secondary - #374785
third     - #A8D0E6
fourth    - #F76C6C
fifth     - #F8E9A1

*/


@import url("https://fonts.googleapis.com/css?family=Domine");
@import url("https://fonts.googleapis.com/css?family=Playball");
@import url("https://fonts.googleapis.com/css?family=Yeseva%20One");
@import url("https://fonts.googleapis.com/css?family=Ramaraja");



body {
  font-family: "Domine";
}

section {
  max-width: 90%;
}

header {
  max-width: 90%;
}

footer {
  max-width: 90%;
}

.font-dancing-script {
  font-size: 1.5rem;
  font-family: "Playball";
}

.sub-heading {
  font-family: "Yeseva One";
}

.normal-sub-heading {
  font-size: 1.5rem;
  font-family: "Ramaraja";
}

.shadow-box {
  box-shadow: 10px 10px 5px grey;
}

.text-slanted {
  font-family: "Roboto Slab", cursive;
}


.bg-main {
  background-color: #f0f5fa;
}

.bg-main-2 {
  background-color: #FFE2E2;
}

.bg-first {
  background-color: #24305E;
}

.bg-second {
  background-color: #374785;
}

.bg-third {
  background-color: #A8D0E6;
}

.bg-fourth {
  background-color: #F76C6C;
}

.bg-fifth {
  background-color: #F8E9A1;
}

.main-section {
  min-height: 100vh;
}

.description-bg {
  background-color: #696b6e;
}

img.Image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

.newImgContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 300px;
}

.img-in-div {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}


.nav-tabs .nav-link {
  color: black;
}

.card-img-top {
  height: 30vh;
  object-fit: cover;
}
